/* Reset some default styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  color: #333;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-header {
  background-color: #335b33c7;
  color: white;
  text-align: center;
  padding: 20px;
}

.app-header h1 {
  font-size: 62pt;
  font-style: italic;
  margin: 0;
}
.app-header p {
  font-size: 18pt;
  margin: 0;
}
#video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.9; 
  z-index: -1; 
}
.app-main {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.upload-section {
  width: 100%;
  height: 400px;
  padding: 5px;
  align-items: center;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.562);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}



.file-input {
  font-size: larger;
  display: block;
  margin-bottom: 10px;
  padding: 10px;
}

.upload-button {
  font-size: xx-large;
  background-color: #d0db34;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
}

.upload-button:hover {
  background-color: #8eb929ba;
}

.results-section {
  padding: 5px;
  width: 100%;
  height: 200px;
  font-size: x-large;
  text-align: center;
  background-color: rgb(255, 255, 255,  0.562);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.results-section h2 {
  margin: 0 0 10px 0;
}

.app-footer {
  background-color: #335b33c7;
  color: white;
  text-align: center;
  padding: 10px;
}

.diseases-table {
  background-color:  rgb(255, 255, 255,  0.562); 
  padding: 20px;
  border-radius: 8px; /* Optional: Adds rounded corners to the table section */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Adds subtle shadow */
}

.table-title {
  text-align: center; /* Centers the title */
  margin-bottom: 20px;
  color: #3a4b12b1;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 12px;
  text-align: left;
}

th {
  background-color: #f4f4f4;
}

td {
  border-bottom: 1px solid #ddd;
}

ul {
  padding-left: 20px; /* Adds space to the left of the list */
  margin: 0;
}

ul li {
  margin-bottom: 5px;
}
.weather-section p {
  font-size: 16px;
  margin: 5px 0;
}

.weather-section p strong {
  color: #4682b4;
}
.weather-section {
  background-color:  rgb(255, 255, 255,  0.562); 
  padding: 5px;
  border-radius: 8px; /* Optional: Adds rounded corners to the table section */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Adds subtle shadow */
  margin-bottom: 10px;
}
.weather-section h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #3a4b12b1;
}
.left-column {
  flex: 1;
  padding-right: 20px;
}

.right-column {
  flex: 1;
  padding-left: 20px;
}


.image-preview {
  margin-bottom: 20px;
}

.preview-image {
  width: 200px;;
  height: 200px;
  margin: 10px;
  border-radius: 8px;
}

.image-section {
  text-align: center;
  padding: 8px;
  border-radius: 8px;
  margin-bottom: 20px;
  background-color:  rgb(255, 255, 255,  0.562);
}

.wheat-growth-cycle-image {
  max-width: 100%;
  height: auto;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin: 5px;
  padding: 5px;
}

.image-source {
  margin-top: 5px;
  font-size: 14px;
  color: #555;
}

.image-source a {
  color: #007bff;
  text-decoration: none;
}

.image-source a:hover {
  text-decoration: underline;
}
